body
{
    margin: 0;
}

/* NAVBAR */
@media screen and (max-width: 900px)
{
    .front-page
    {
        width: 100%;
        height: 50vw;
        background-image: url("/images/DEHRADUN.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 70vw;
        margin: 0;
        padding-top: 6vw;
    }
    .main-heading-english
    {
        margin: 0;
        font-size: 5vw;
        text-align: center;
    }
    .heading-hr
    {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 40vw;
        border: 1px solid rgb(80, 106, 221);
    }
    .main-heading-hindi
    {
        margin: 0;
        text-align: center;
        font-size: 4vw;
    }
    .individual-state-name
    {
        margin: 0;
        /* position: relative; */
        /* display: block; */
        /* border: 1px solid blue; */
        /* top: 3vw; */
        /* left: 0; */
        font-size: 4vw;
        text-align: center;
    }
    .individual-state-link
    {
        color: rgba(0, 0, 0, 0.356);
    }
    .individual-state-name-2
    {
        margin: 0;
        position: relative;
        /* border: 1px solid red; */
        /* top: 1.05vw; */
        bottom: 4.5vw;
        left: 0;
        font-size: 4vw;
        text-align: center;

    }

    .individual-state-link-2
    {
        color: rgb(0, 0, 0);
        overflow: hidden;
        display: inline-block;
        margin: 0;
        padding: 0;
        /* border: 1px solid black; */
        animation-timing-function: linear;
        animation-name: stateNameAnimate;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }
    @keyframes stateNameAnimate
    {
        from{width: 0%;}
        to{width: 30%;}
    }
    .nav-bar
    {
        background-color: rgb(80, 106, 221);
        border: 1px solid black;
        display: fixed;
    }
    .main-logo
    {
        margin-left: 3vw;
        margin-top: 0.5vw;
        height: 10vw;
        width: 10vw;
    }
    .main-logo-2
    {
        margin-left: 3vw;
        margin-top: 0.5vw;
        height: 10vw;
        width: 10vw;
    } 
    .hamburger-menu
    {
        display: inline-block;
        float: right;
        background-color: rgba(240, 248, 255, 0.123);
        box-shadow: 1px 1px 10px  black;
        border-radius: 3px;
        margin-top: 2vw;
        margin-right: 4vw;
        padding: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
        color: aliceblue;
    }
    .navbar-list
    {
        /* display: inline-block; */
        /* position: relative; */
        display: none;
        height: 0vw;
        overflow: hidden;
        margin-left: 17vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        margin-top: 0;
        margin-bottom: 0;
        bottom: 7vw;
        right: 3vw;
        border-bottom: 2px solid rgb(80, 106, 221);
        animation-timing-function: linear;
        animation-name: navbarShowIn;
        animation-duration: 1s;
        animation-fill-mode: forwards;
     } 
     @keyframes navbarShowIn
     {
         from{height: 0vw}
         to{height: 15vw}
     }
    .navbar-list-2
    {
        /* display: inline-block; */
        /* position: relative; */
        display: none;
        height: 0vw;
        margin-left: 17vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        margin-top: 0;
        margin-bottom: 0;
        bottom: 7vw;
        right: 3vw;
        border-bottom: 2px solid rgb(80, 106, 221);
        animation-timing-function: linear;
        animation-name: navbarShowIn;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    .navbar-list-items
    {
        /* display: none; */
        text-align: right;
        color: aliceblue;
        list-style: none;
        font-size: 2vw;
        font-weight: bolder;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        margin-left: 0.5vw;
        margin-right: 3vw;
        font-family: Verdana;
    }
    .navbar-link
    {
        color: rgb(255, 245, 245);
        text-decoration: none;
        font-size: 2vwvw;
    }
    .navbar-link:hover
    {
        background-color: rgb(80, 106, 221);
        color: white;
    }
    /* MIDSECTION */
    .district
    {
        text-align: center;
        margin-top: 10vw;
    }
    .card-title
    {
        display: block;
        width: 40%;
        border-bottom: 1px solid grey;
        box-shadow: 0px 3px 16px  black;
        margin-left: auto;
        margin-right: auto;
        color: rgb(80, 106, 221);
    }
    .main-intro
    {
        text-align: center;
        font-size: large;
    }
    .main-intro-heading
    {
        margin-top: 10vw;
        color: rgb(80, 106, 221);
        border-bottom: 1px solid grey;
        box-shadow: 1px 1px 10px  black;
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .news-section
    {
        display: inline-block;
        margin-left: 1vw;
    }
    .card-title-news
    {
        margin-top: 10vw;
        text-align: center;
        display: block;
        width: 70%;
        border-bottom: 1px solid grey;
        color: rgb(80, 106, 221);
        box-shadow: 0px 3px 16px  black;
        margin-left: auto;
        margin-right: auto;
    }
    .scrolling-feed
    {
        width: 100%;
        height:350px;
        border:1px solid rgba(207, 207, 207, 0.863);
        /* padding:20px */
    }
    .news-list-section
    {
        padding: 0;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .individual-news
    {
        list-style: none;
    }
    /* FOOTER */
    .footer
    {
        background-color: rgb(80, 106, 221);
        padding: 3vw; 
    }
    .copyright-claim
    {
        color: white;
        margin: 0;
        text-align: center;
    }
    .counter p
    {
        color: white;
        margin: 0;
        text-align: center;
    }
}
@media screen and (min-width:900px)
{
    .front-page
    {
        z-index: +5;
        width: 100%;
        height: 47vw;
        background-image: url("/images/DEHRADUN.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 47vw;
        margin: 0;
        padding-top: 6vw;

    }
    .main-heading-english{
        margin: 0;
        position: relative;
        top: 3vw;
        /* left: 3vw; */
        font-size: 2vw;
        text-align: center;
    }
    .heading-hr
    {
        margin: 0;
        position: relative;
        top: 3vw;
        margin-left: auto;
        margin-right: auto;
        width: 15vw;
        border: 0.5px solid rgb(80, 106, 221);
    }
    .main-heading-hindi{
        margin: 0;
        position: relative;
        top: 3vw;
        left: 0;
        font-size: 1.7vw;
        text-align: center;
    }
    .scroll-images
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 47vw;
        z-index: -1;
    }
    .individual-state-name
    {
        margin: 0;
        position: relative;
        /* display: block; */
        /* border: 1px solid blue; */
        top: 3vw;
        left: 0;
        font-size: 1.7vw;
        text-align: center;
    }
    .individual-state-link
    {
        color: rgba(0, 0, 0, 0.356);
    }
    .individual-state-name-2
    {
        margin: 0;
        position: relative;
        /* border: 1px solid red; */
        top: 1.05vw;
        left: 0;
        font-size: 1.7vw;
        text-align: center;

    }

    .individual-state-link-2
    {
        color: rgb(0, 0, 0);
        overflow: hidden;
        display: inline-block;
        margin: 0;
        padding: 0;
        /* border: 1px solid black; */
        animation-timing-function: linear;
        animation-name: stateNameAnimate;
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }
    @keyframes stateNameAnimate
    {
        from{width: 0%;}
        to{width: 20%;}
    }
    .nav-bar
    {
        /* border: 1px solid black; */
        display: fixed;
        /* display: none; */
    }
    .main-logo
    {
    display: inline-block;
    position: fixed;
    margin-left: 3vw;
    height: 8vw;
    width: 8vw;
    }
    .hamburger-menu
    {
        display: none;
    }
    .main-logo-2
    {
        position: fixed;
        top: 1.5vw;
        left: 3vw;
        height: 3vw;
    }
    .navbar-list
    {
        display: inline-block;
        position: fixed;
        /* margin-left: 17vw; */
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        top: 3vw;
        right: 3vw;
        border-bottom: 2px solid rgb(80, 106, 221);
    }
    .navbar-list-2
    {
        display: inline-block;
        position: fixed;
        /* margin-left: 17vw; */
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        top: 1vw;
        right: 3vw;
        border-bottom: 2px solid rgb(80, 106, 221);
    }
    .navbar-list-items
    {
        display: inline-block;
        font-size: 1vw;
        font-weight: bolder;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-family: Verdana;
    }
    .navbar-link
    {
        color: black;
        text-decoration: none;
        font-size: 2vwvw;
    }
    .navbar-link:hover
    {
        background-color: rgb(80, 106, 221);
        color: white;
    }
    /* MIDSECTION */

    .district
    {
        display: inline-block;
        padding: 15px;
        width: 20%;
    }
    .card-title
    {
        padding-bottom: 10px;
        color: rgb(80, 106, 221);
    }
    .district-map
    {
        border:1px solid rgba(207, 207, 207, 0.863);
        padding:3px
    }

    .main-intro-heading
    {
        text-align: center;
        color: rgb(80, 106, 221);
    }
    .main-intro
    {
        display: inline-block;
        width: 55%;
    }
    .card-title-news
    {
        color: rgb(80, 106, 221);
    }
    .news-section
    {
        display: inline-block;
        margin-left: 1vw;
        width: 20%;
    }

    .scrolling-feed
    {
        width: 100%;
        height:350px;
        border:1px solid rgba(207, 207, 207, 0.863);
        /* padding:20px */
    }
    .news-list-section
    {
        padding: 0;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .individual-news
    {
        list-style: none;
    }
    /* FOOTER */
    .footer
    {
        background-color: rgb(80, 106, 221);
        padding: 3vw;
    }
    .copyright-claim
    {
        color: white;
        margin: 0;
        text-align: center;
    }
    .counter p
    {
        color: white;
        margin: 0;
        text-align: center;
    }
}


/* LOGIN-BOX-SETUP */
.login-front-page
{
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 20vw;
    height: 20vw;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 3vw;
    box-shadow: 5px 10px 18px ;
    position: relative;
    top: 3vw;
    left: 65vw;
}
.login-title
{
    text-align: center;
    margin-bottom: 0;
    font-family: inherit;
    font-size: 3vw;
}
.login-hr
{
    border: 0.5px solid rgb(80, 106, 221);
    width: 50%;
}
.login-fields
{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 0.5vw;
    font-size: 1.3vw;
}
.login-input-fields
{
    display: inline-block;
    width: 10vw;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid black;
}
.login-button-div
{
    display: block;
    width: 10.5vw;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
}
.login-button
{
    width: 5vw;
    border-radius: 1vw;
    background-color: rgba(240, 248, 255, 0.37);
    font-size: 1vw;
}
.login-button:hover
{
    width: 5vw;
    border-radius: 1vw;
    background-color: rgb(122, 180, 231);
}

